{% extends 'layout.html' %}
{% load static %}
{% block title %}Causas{% endblock %}
{% block body %}
    {% include 'risk/includes/causes_menu.html' %}
    <section class="container">
        {% for cause in object_list %}
            <div class="row mt-3 mb-2 card">
                <div class="col-md-9 mx-auto card-body">
                    <h2 class="mb-4">{{ cause.name }}</h2>
                    <div>
                        <p>{{ cause.description|striptags|safe|truncatechars:"200" }}</p>
                        <p><span class="text-muted">Riesgo asociado:</span> {{ cause.risk.name }}</p>
                        <div class="entry-list">
                            <a class="btn btn-secondary" href="{% url 'risks:cause' cause.id %}"><i
                                    class="far fa-eye"></i> Leer más</a>
                            {% if request.user.is_staff %}
                                <a class="btn btn-warning" href="{% url 'risks:update_cause' cause.id %}"><i
                                        class="far fa-edit"></i> Editar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
