{% extends 'layout.html' %}
{% load static %}
{% block title %}{{ cause.name }}{% endblock %}
{% block body %}
    {% include 'risk/includes/causes_menu.html' %}
    <section class="container mt-3">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <h2 class="section-heading mb-4">Riesgo: {{ cause.name }}</h2>
                <div>
                    {{ cause.description|safe }}
                    <div><span class="text-muted">Riesgo asociado: </span>{{ cause.risk.name }}</div>
                    <a class="btn btn-warning" href="{% url 'risks:update_cause' cause.id %}"><i class="far fa-edit"></i> Editar</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}