//variables
$main-backcolor: #319def;

body {
  background-color: #fff;

  nav.main_bar {
    background-color: $main-backcolor !important;

    .navbar-brand {
      font-weight: 500;
      letter-spacing: 1px;
      color: #1a1a1a;
    }
    #user-nav{
      font-weight: 500;
    }
  }

  .det-list {
    color: #454545;
    font-style: italic;
    font-weight: 300;
  }

  .economic-loss {
    font-weight: 500;
    color: #a50202;
  }
}